*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background: plum;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: rgb(7, 58, 58);
    font-weight: 800;
    margin-bottom: 20px;
}

form input, textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: rgb(220, 219, 219);
    font-size: 16px;

}

form button{
    border: 0;
    color: aliceblue;
    padding: 15px;
    outline: none;
    background: rgb(171, 67, 202);
    font-size: 18px;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}